/*=============== HOME ===============*/
.home{
    padding: 3.5rem 0 2rem;

    &__container{
        position: relative;
        row-gap: 2rem;
    }
    &__img{
        width: 200px;
        justify-self: center;
    }
    &__title{
        font-size: var(--big-font-size);
        line-height: 140%;
        margin-bottom: var(--mb-1);
    }
    &__description{
        margin-bottom: var(--mb-2-5);
    }
    &__social{
        position: absolute;
        top: 2rem;
        right: -1rem;
        display: grid;
        justify-items: center;
        row-gap: 3.5rem;

        &-follow{
            font-weight: var(--font-medium);
            font-size: var(--smaller-font-size);
            color: var(--first-color);
            position: relative;
            transform: rotate(90deg);

            &::after{
                content: '';
                position: absolute;
                width: 1rem;
                height: 2px;
                background-color: var(--first-color);
                right: -45%;
                top: 50%;
            }
        }
        &-links{
            display: inline-flex;
            flex-direction: column;
            row-gap: .25rem;
        }
        &-link{
            font-size: 1rem;
            color: var(--first-color);
            transition: .3s;

            &:hover {
                transform: translateX(.25rem);
            }
        }
    }
}


.homepage-home{
    margin-top: 80px;
    height: 80vh;
    display: flex;
    align-items: center;
    padding: 20px 80px;
    @media (max-width:768px ) {
      margin-top: 10px;
      padding: 10px 20px;
      height: 50vh;
  }
    margin-bottom: 100px;
  }

  .homepage-hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      width: 60%;
      font-size: 20px;
    }
    .hero__data{
      width: 50%;
    }

    @media (max-width:768px) {
      .hero__data{
        width: 50%;
        overflow-x: scroll;
      }
      p{
        font-size: 10px;
        width: 120%;
      }
      .publication-buttons{
        width: 120%;
      }
    }
}

.homepage-rightbar{
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    gap: 10px;
    z-index: 50;
    width: 50%;
    padding: 5px; 
    img{
        width: 30%;
        @media (max-width:768px ) {
            width: 40%;
        }
    }
  
    @media (max-width :768px) {
      width: 40%;
      gap: 3px;
    }
  }

  .homepage-buttons{
    display: flex;
    gap: 30px;
  }
  .homepage-buttons .hero-button{
    font-size: 22px;
    font-weight: 300;
    padding-left: 20px;
    padding-right: 20px;

   

  }

  .homepage-second-section{
    display: flex;
    gap: 170px;
    margin-left: 100px;

  }

  .homepage-second-section .rightbar .rightbar-description p{
    font-size: 20px;
  }

.homepage-third-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.homepage-third-section h2{
  margin-top: 15px;
}

.approach1,
.approach2{
  display: flex;
  gap: 30px;
}
.homepage-third-section img{
  width: 240px;
  height: 240px;
}
.approach2{
  margin-top: 50px;
}
.approach1 .help,
.approach2 .skill-count{
  display: flex;
  
}
.approach1 .help .help-info,
.approach2 .skill-count .skill-info{
  margin-top: 180px;
}
.approach1 .help .help-info p,
.approach2 .skill-count .skill-info p{
  background-color: #b5c2f4;
  padding: 20px;
  border-radius: 5%;
  color: black;
  font-size: 25px;
}
@media(max-width: 1920px) and ( min-width: 760px){
.homepage-fourth-section{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
}

@media (max-width: 768px){
  .homepage-fourth-section{
    display: flex;
    flex-direction: column;
  }
  .homepage-fourth-section .rightbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    p{
  
      margin-top: 10px;
      width: 95%;
      text-align: center;
      color: #273469;
      font-size: 16px;
    
  }
   img{
    width: 120px;
    height: 120px;
  }
  }
   .homepage-fourth-section .leftbar{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin-top: 40px;
     img{
      height: 150px;
      width: 150px;
     }
    
     
   }
  
}

@media (min-width: 768px) and (max-width: 1920px){
.homepage-fourth-section .leftbar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 912px;
  height: 816px;
  img{
    width: 300px;
    height: 300px;
   }
}
}



@media(min-width: 768px) and (max-width:1920px){
.homepage-fourth-section .rightbar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 912px;
  height: 816px;
}
.homepage-fourth-section .rightbar p{
  
  margin-top: 10px;
  width: 95%;
  text-align: center;
  color: #273469;
  font-size: 25px;

}
}

.homepage-fourth-section .rightbar-top{
  display: flex;
  justify-content: center;
}
.homepage-fourth-section h1{
  font-size: var(--big-font-size);
}


@media ( max-width: 1920px){
  .homepage-fourth-section .leftbar h1{
    margin-top: 40px;

  }
 }

 @media ( max-width: 768px){
  .homepage-fourth-section .leftbar h1{
    margin-top: 15px;

  }
 }

 @media (min-width: 768px) and (max-width: 1920px) {
  .homepage-fifth-section{
    display: flex;
    flex-direction: column;
  }
  .homepage-fifth-section .first-row,
  .homepage-fifth-section .third-row{
    width: 100%;
    display: flex;
    gap: 25px;
    overflow: hidden;
    img{
      width: 240px;
      height: 240px;
      
    }

  }
   .homepage-fifth-section .second-row{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;

   h1{
    font-size: var(--big-font-size);
  }
  img{
    width: 64px;
    height: 64px;
  }

  }
  
 }
 @media(min-width: 769px){
  .homepage-sixth-section{
    margin-top: 100px;
    .blogs,
    .interviews,
    .academic{
      position: relative;
      display: flex;
      width: 100%;
      .blogs-top,
      .interviews-top,
      .academic-top{
        display: flex;
        h1{
          font-size: var(--big-font-size);
          display: flex;
          align-items: center;
          margin-left: 30px;
        }
        
      }
      
      
    }
    .blogs .cards,
    .academic .cards{
      width: 100%;
      display: flex;
      overflow: hidden;
      margin-left: 200px;
      div{
        width: 256px;
        height: 332px;
        flex-shrink: 0;
        img{
          width: 240px;
          height: 240px;
        }
        h2{
          text-align: center;
        }
        .abstract-card{
          width: 240px;
          height: 480px;
          margin-top: 15px;
        }
        
      }
     
    }
    .academic{
      width: 1900px;
      height: 956px;
    }
    .academic .cards{
      margin-left: 90px;
      div{
        width: 256px;
        height: 876px;
      }
      button{
        margin-left: 30%;
        background-color: black;
        color:white;
        justify-self: center;
        font-size: 20px;
        padding: 3%;
        font-weight: lighter;
        border-radius: 3%;
      }
    }
    
    .interviews{
      margin-top: 50px;
    }
    .interviews .cards{
      width: 100%;
      display: flex;
      overflow: hidden;
      margin-left: 100px;
      div{
        width: 426px;
        height: 332px;
        flex-shrink: 0;
        img{
          width: 426px;
          height: 240px;
        }
        h2{
          text-align: center;
        }
        
      }
     
    }
    

    .arrow img{
      width: 64px;
      height: 64px;
    }
    .arrow{
      opacity: 50%;
    }
    .arrow-right {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      background: none;
      border: none;
      cursor: pointer;
      z-index: 10;
    
    }
    .arrow-left {
      position: absolute;
      top: 40%;
      left: 25px;
      transform: translateX(-50%);
      background: none;
      border: none;
      cursor: pointer;
     
    }
    .academic{ 
      .arrow-left{
      top: 46.5%
    }
    
  }





  }
 }

 .breaker2{
  /* breaker */

width: 1900px;
height: 8px;

/* black-white-gradient */
background: linear-gradient(90deg, #111111 0%, rgba(238, 238, 238, 0) 100%);
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;

 }


