/*=============== HOME ===============*/
.home{
    padding: 3.5rem 0 2rem;

    &__container{
        position: relative;
        row-gap: 2rem;
    }
    &__img{
        width: 200px;
        justify-self: center;
    }
    &__title{
        font-size: var(--big-font-size);
        line-height: 140%;
        margin-bottom: var(--mb-1);
    }
    &__description{
        margin-bottom: var(--mb-2-5);
    }
    &__social{
        position: absolute;
        top: 2rem;
        right: -1rem;
        display: grid;
        justify-items: center;
        row-gap: 3.5rem;

        &-follow{
            font-weight: var(--font-medium);
            font-size: var(--smaller-font-size);
            color: var(--first-color);
            position: relative;
            transform: rotate(90deg);

            &::after{
                content: '';
                position: absolute;
                width: 1rem;
                height: 2px;
                background-color: var(--first-color);
                right: -45%;
                top: 50%;
            }
        }
        &-links{
            display: inline-flex;
            flex-direction: column;
            row-gap: .25rem;
        }
        &-link{
            font-size: 1rem;
            color: var(--first-color);
            transition: .3s;

            &:hover {
                transform: translateX(.25rem);
            }
        }
    }
}


.homepage-home{
    margin-top: 80px;
    height: 80vh;
    display: flex;
    align-items: center;
    padding: 20px 80px;
    @media (max-width:768px ) {
      margin-top: 10px;
      padding: 10px 20px;
      height: 50vh;
  }
    margin-bottom: 100px;
  }

  .homepage-hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      width: 60%;
      font-size: 20px;
    }
    .hero__data{
      width: 50%;
    }

    @media (max-width:768px) {
      .hero__data{
        width: 50%;
        overflow-x: scroll;
      }
      p{
        font-size: 10px;
        width: 120%;
      }
      .publication-buttons{
        width: 120%;
      }
    }
}

.homepage-rightbar{
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    gap: 10px;
    z-index: 50;
    width: 50%;
    padding: 5px; 
    img{
        width: 30%;
        @media (max-width:768px ) {
            width: 40%;
        }
    }
  
    @media (max-width :768px) {
      width: 40%;
      gap: 3px;
    }
  }

  .homepage-buttons{
    display: flex;
    gap: 30px;
  }
  .homepage-buttons .hero-button{
    font-size: 22px;
    font-weight: 300;
    padding-left: 20px;
    padding-right: 20px;

   

  }

  .home-second-section{
    display: flex;
    gap: 170px;
    margin-left: 100px;

  }

  .home-second-section .rightbar .rightbar-description p{
    font-size: 20px;
  }
