/*=============== HOME ===============*/
.home{
    padding: 3.5rem 0 2rem;

    &__container{
        position: relative;
        row-gap: 2rem;
    }
    &__img{
        width: 200px;
        justify-self: center;
    }
    &__title{
        font-size: var(--big-font-size);
        line-height: 140%;
        margin-bottom: var(--mb-1);
    }
    &__description{
        margin-bottom: var(--mb-2-5);
    }
    &__social{
        position: absolute;
        top: 2rem;
        right: -1rem;
        display: grid;
        justify-items: center;
        row-gap: 3.5rem;

        &-follow{
            font-weight: var(--font-medium);
            font-size: var(--smaller-font-size);
            color: var(--first-color);
            position: relative;
            transform: rotate(90deg);

            &::after{
                content: '';
                position: absolute;
                width: 1rem;
                height: 2px;
                background-color: var(--first-color);
                right: -45%;
                top: 50%;
            }
        }
        &-links{
            display: inline-flex;
            flex-direction: column;
            row-gap: .25rem;
        }
        &-link{
            font-size: 1rem;
            color: var(--first-color);
            transition: .3s;

            &:hover {
                transform: translateX(.25rem);
            }
        }
    }
}


.homepage-home{
    margin-top: 80px;
    height: 80vh;
    display: flex;
    align-items: center;
    padding: 20px 80px;
    @media (max-width:768px ) {
      margin-top: 10px;
      padding: 10px 20px;
      height: 50vh;
  }
    margin-bottom: 100px;
  }

  .homepage-hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      width: 60%;
      font-size: 20px;
    }
    .hero__data{
      width: 50%;
    }

    @media (max-width:768px) {
      .hero__data{
        width: 50%;
        overflow-x: scroll;
      }
      p{
        font-size: 10px;
        width: 120%;
      }
      .publication-buttons{
        width: 120%;
      }
    }
}

.homepage-rightbar{
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
    gap: 10px;
    z-index: 50;
    width: 50%;
    padding: 5px; 
    img{
        width: 30%;
        @media (max-width:768px ) {
            width: 40%;
        }
    }
  
    @media (max-width :768px) {
      width: 40%;
      gap: 3px;
    }
  }

  .homepage-buttons{
    display: flex;
    gap: 30px;
  }
  .homepage-buttons .hero-button{
    font-size: 22px;
    font-weight: 300;
    padding-left: 20px;
    padding-right: 20px;

   

  }

  .homepage-second-section{
    display: flex;
    gap: 170px;
    margin-left: 100px;

  }

  .homepage-second-section .rightbar .rightbar-description p{
    font-size: 20px;
  }

.homepage-third-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.homepage-third-section h2{
  margin-top: 15px;
}

.approach1,
.approach2{
  display: flex;
  gap: 30px;
}
.homepage-third-section img{
  width: 240px;
  height: 240px;
}
.approach2{
  margin-top: 50px;
}
.approach1 .help,
.approach2 .skill-count{
  display: flex;
  
}
.approach1 .help .help-info,
.approach2 .skill-count .skill-info{
  margin-top: 180px;
}
.approach1 .help .help-info p,
.approach2 .skill-count .skill-info p{
  background-color: #b5c2f4;
  padding: 20px;
  border-radius: 5%;
  color: black;
  font-size: 25px;
}
@media(max-width: 1920px) and ( min-width: 760px){
.homepage-fourth-section{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
}

@media (max-width: 768px){
  .homepage-fourth-section{
    display: flex;
    flex-direction: column;
  }
  .homepage-fourth-section .rightbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .homepage-fourth-section .leftbar img{
    height: 150px;
    width: 150px;
   }
   .homepage-fourth-section .leftbar{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin-top: 40px;
    
     
   }
   .homepage-fourth-section .rightbar p{
  
    margin-top: 10px;
    width: 95%;
    text-align: center;
    color: #273469;
    font-size: 16px;
  
}
}

@media (min-width: 768px) and (max-width: 1920px){
.homepage-fourth-section .leftbar img{
 width: 300px;
 height: 300px;
}
.homepage-fourth-section .leftbar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 912px;
  height: 816px;
}
}
.homepage-fourth-section .rightbar img{
  width: 120px;
  height: 120px;
}


@media(min-width: 768px) and (max-width:1920px){
.homepage-fourth-section .rightbar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 912px;
  height: 816px;
}
.homepage-fourth-section .rightbar p{
  
  margin-top: 10px;
  width: 95%;
  text-align: center;
  color: #273469;
  font-size: 25px;

}
}

.homepage-fourth-section .rightbar-top{
  display: flex;
  justify-content: center;
}
.homepage-fourth-section h1{
  font-size: var(--big-font-size);
}


@media ( max-width: 1920px){
  .homepage-fourth-section .leftbar h1{
    margin-top: 40px;

  }
 }

 @media ( max-width: 768px){
  .homepage-fourth-section .leftbar h1{
    margin-top: 15px;

  }
 }


